@{
    ViewBag.Title = "Home Page";
}
@model WebAppl.Models.GreetingModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>

<style>

    .helpTrigger {
        position: fixed;
        top: 5em;
        right: 1em;
        height: 50px;
        width: 50px;
        background: url('https://lapugliasegreta.it/wp-content/uploads/2015/11/produttori.jpg') 0px 0px;
    }

    .closeTrigger {
        position: fixed;
        top: 5em;
        right: 1em;
        height: 50px;
        width: 50px;
        background: url('https://lapugliasegreta.it/wp-content/uploads/2015/11/produttori2.jpg') 0px 50px;
    }

    #helpContent {
        border: solid 1px black;
        border-right: 3em;
        min-height: 4em;
        border-radius: 1em;
        box-shadow: 1px 1px 15px black;
        position: fixed;
        top: 5em;
        right: 5em;
        height: 15em;
        width: 30em;
        overflow: auto;
        background-color: whitesmoke;
        padding: 1.5em;
    }
</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <hgroup id="test" class="title">
        <h2>@Model.Greeting</h2>
        <h3>@Model.Name</h3>

    </hgroup>
</div>


<div>
    <div id="helpTrigger" class="helpTrigger"></div>
    <div id="helpContent" style="display:none"></div>



    <script>

        $(document).ready(function () {
                $.ajax({
                    url: '@Url.Action("GetAdsSimple", "Home")',
                    dataType: "json",
                    type: "POST",
                    success: function (result) {
                        $("#test").append(result);
                    },
                    error: function (result) {
                        console.log("Error");
                    }
                });
         });

        $(helpTrigger).one("click", getHelp)


        function getHelp() {
            $.ajax({
                url: '@Url.Action("getHelp", "Home")',
                dataType: "json",
                type: "POST",
                success: function (result) {
                    $("#helpContent").empty().append(result);
                    $("#helpContent").show();
                    $("#helpTrigger").removeClass("helpTrigger").addClass("closeTrigger");
                    $("#helpTrigger").off();
                    $("#helpTrigger").click(closeHelp);
                }
            });
        }

        function closeHelp() {
            $("#helpContent").empty();
            $("#helpContent").hide();
            $("#helpTrigger").removeClass("closeTrigger").addClass("helpTrigger");
            $("#helpTrigger").off();
            $("#helpTrigger").click(getHelp);
        }
    </script>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>